body{
  background-color: #eeeeee;
}

ul{
  list-style: none;
  list-style-type: none;
}
a a:hover{
  text-decoration: none;
  color: inherit;
}

header{
  z-index: 10000;
  background-color: #ac271d;
  color: #eeeeee;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#iniciarSesion{
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 5px;
  color: #eeeeee;
}

.textoSeleccionable{
  padding-bottom: 10px;
  border-bottom: 5px solid transparent;
}

.textoSeleccionable:hover, .opcionElegida{
  border-bottom: 5px solid #001619;
}

#logoTitleHeader{
  padding-top: 5px;
  position: relative;
  display: flex;
  width: auto;
  background-color: #363732;
}

#logoFenixEnlace{
  width : 10%;
}

#logoFenix{
  width: 100%;
  height: auto;
  transition: 0.4s;
}


#titleNav{
  transition: 0.2s;
  padding-top: 65px;
  padding-left: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#logoFenixShrink{
  display: none;
  width: 4%;
  height: auto;
  transition: 0.4s;
  float: left;
}

nav ul li{
  background-color: #ac271d;
  text-align: center;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

nav ul a{
  display: block;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  letter-spacing:1px;
}


/* efecto al pasar el ratón por los items del menu */
nav ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

/* items del menu desplegable */
nav ul ul li {
  float:none;
  width:150px;
  text-align: center;
}

nav ul ul li:hover {
  background : #eb8a8f;
}

/* enlaces de los items del menu desplegable */

nav ul ul a {
  line-height:120%;
  padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

nav ul li:hover > ul {
  display:block;
}

main{
/*
margin-top: 30vh;
*/
  background-color: #eeeeee;
  padding-top: 30vh;
  padding-bottom: 20vh;
}


footer{
  background-color: #ac271d;
  color: white;
}

/*INDEX STUFF*/
.column{
  vertical-align: top;
  display: inline-block;

}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
