.botonCrearNoticia{
  width: 10%;
  padding: 10px;
  position: relative;
  left: 15%;
}
.botonExpandir{
  position: relative;
  margin-left: 85%;

}

#contenedorNoticia{
  width: 60%;
  position: relative;
  left: 15%;
  margin-top: 20px;
}


.fecha{
  font-size: 10pt;
  text-align: right;
  color: #001619;
  margin-bottom: 5px;
}
