.botonCrearNoticia{
  padding: 10px;
  position: relative;
  left: 15%;
}
.botonExpandir{
  position: relative;
  margin-left: 82%;
}

#contenedorNoticia{
  width: 60%;
  position: relative;
  left: 15%;
  margin-top: 20px;
}

.contenidoNuevaNoticia{
  padding: 0% 3% 3% 3%;
}

.fecha{
  font-size: 10pt;
  text-align: right;
  color: #001619;
  margin-bottom: 5px;
}
